<div class="inner cover">
  <h1 class="cover-heading">Insert Record</h1>
  </p>
</div>

<div id="form_input">
  <form id="addrecord_form" method="post" action="">
    Enter Fish Name: <input type="text" name="fishName" placeholder="Required" />
    <br><br>
    Enter Body of Water: <input type="text" name="b_o_w" placeholder="Required"/>
    <br><br>
    Enter Weight: <input type="text" name="wght" placeholder="Required"/>
    <br><br>
    Enter Date Caught: <input type="text" name="date_caught" placeholder="Required (year/mm/dd)"/>
    <br><br>
    <input id="buttton" type="submit" onClick="addfish()" value="Add Record"/>
  </form>
</div>
