<div class="inner cover">
  <h1 class="cover-heading">Insert Bait</h1>
  </p>
</div>

<div id="form_input">
  <form id="addrecord_form" method="post" action="">
    Enter Bait Name: <input type="text" name="baitName" placeholder="Required" />
    <br><br>
    Enter Description: <input type="text" name="description" placeholder="Required"/>
    <br><br>
    Organic Bait?: <input type="text" name="org" placeholder="Required (y/n)"/>
    <br><br>
    Artificial Bait?: <input type="text" name="art" placeholder="Required (y/n)"/>
    <br><br>
    Artificial Bait Size: <input type="text" name="size" placeholder="Required if Artificial"/>
    <br><br>
    Artificial Bait Color: <input type="text" name="color" placeholder="Required if Artificial)"/>
    <br><br>
    <input id="buttton" type="submit" onClick="addfish()" value="Add Bait"/>
  </form>
</div>
