<div class="inner cover">
  <h1 class="cover-heading">Insert Location</h1>
  </p>
</div>

<div id="form_input">
  <form id="addlocation_form" method="post" action="">
    Enter Fish Name: <input type="text" name="fishName" placeholder="Required" />
    <br><br>
    Enter Location ID: <input type="text" name="loc_id" placeholder= "Required"/>
    <br><br>
    Enter Fish Weight: <input type="text" name="wght" placeholder="Optional"/>
    <br><br>
    Enter Fish Length: <input type="text" name="length" placeholder="Optional"/>
    <br><br>
    Enter Bait Used: <input type="text" name="baitName" placeholder="Required"/>
    <br><br>
    Enter Notes: <input type="text" name="notes" placeholder="Optional"/>
    <br><br>
    <input id="buttton" type="submit" onClick="addfish()" value="Add Fish Log"/>
  </form>
</div>
