<div class="inner cover">
  <h1 class="cover-heading">Insert Fish</h1>
  </p>
</div>

<div id="form_input">
  <form id="addfish_form" method="post" action="" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-6"><label for="fishName">Enter fish name:</label></div>
      <div class="col-md-6"><input class="form-control" type="text" name="fishName" id="fishName" placeholder="Fish Name" /></div>
    </div>
    <div class="row">
      <div class="col-md-6"><label for="wght">Enter Fish&rsquo;s average weight:</label></div>
      <div class="col-md-6"><input class="form-control" type="text" name="wght" id="wght" placeholder= "Weight"/></div>
    </div>
    <div class="row">
      <div class="col-md-6"><label for="familyName">Enter fish family name:</label></div>
      <div class="col-md-6"><input class="form-control" type="text" name="familyName" id="familyName" placeholder="Required"/></div>
    </div>
    <div class="row">
      <div class="col-md-6"><label for="aliasName">Enter fish alias:</label></div>
      <div class="col-md-6"><input class="form-control" type="text" name="aliasName" id="aliasName" placeholder="Optional"/></div>
    </div>
    <div class="row">
      <div class="col-md-6"><label for="picture">Enter picture file name: </label></div>
      <div class="col-md-6"><input class="form-control" type="file" name="picture" id="picture" placeholder=""/></div>
    </div>
    <div class="row">
      <div class="col-md-12"><a id="add-fish-btn" class="btn btn-default" href="#">Add Fish</a></div>
    </div>
  </form>
</div>

<div id="form_output">

</div>

<script type="text/javascript">

 function addfish(){
   var fishName = document.getElementById("fishName").value;
   var wght = document.getElementById("wght").value;
   var picture = document.getElementById("picture").value;

   if(fishName == ""){
     document.getElementById("NameError").innerHTML = "Please Enter a valid Name";
   }

   if(wght == ""){
     document.getElementById("wghtError").innerHTML = "Please Enter a valid weight";
   }

   if(picture == ""){
     document.getElementById("pictureError").innerHTML = "Please Enter a valid weight";
   }
}
</script>

<script type="text/javascript" >
jQuery(document).ready(function($) {
  $("#add-fish-btn").click(function(e) {
    e.preventDefault();
    $('#addfish_form').submit();
  })
});
</script>
