<div class="inner cover">
  <h1 class="cover-heading">Insert Fish</h1>
  </p>
</div>

<div id="form_input">
  <form id="addfish_form" method="post" action="">
    Enter fish name: <input type="text" name="fishName" placeholder="Required" />
    <br><br>
    Enter Fish's average weight: <input type="text" name="ave_wght" placeholder= "Optional"/>
    <br><br>
    Enter fish family name: <input type="text" name="familyName" placeholder="Required"/>
    <br><br>
    Enter fish alias: <input type="text" name="aliasName" placeholder="Optional"/>
    <br><br>
    <input id="buttton" type="submit" onClick="addfish()" value="Add Fish"/>
  </form>
</div>
