<div class="inner cover">
  <h1 class="cover-heading">Insert Location</h1>
  </p>
</div>

<div id="form_input">
  <form id="addlocation_form" method="post" action="">
    Enter Latitude: <input type="text" name="lat" placeholder="Required" />
    <br><br>
    Enter Longitude: <input type="text" name="lng" placeholder= "Required"/>
    <br><br>
    Enter Body of Water: <input type="text" name="b_o_w" placeholder="Required"/>
    <br><br>
    Enter State: <input type="text" name="state" placeholder="Required"/>
    <br><br>
    Enter County: <input type="text" name="county" placeholder="Required"/>
    <br><br>
    <input id="buttton" type="submit" onClick="addfish()" value="Add Location"/>
  </form>
</div>
