
<table id="table" class="table" >

            <thead>

              <tr>
                <th> Fish Name </th>
                <th> Average Weight </th>
              </tr>
            </thead>

            <tbody>
              <% print.forEach(function(Fish_local){ %>
                <tr>
                  <td><%=Fish_local.fishName %></td>
                  <td><%=Fish_local.ave_wght %></td>
              <% }) %>
            </tbody>

          </table>
