
<table id="table" class="table" >

            <thead>

              <tr>
                <th> Fish Name </th>
                <th> Average Weight </th>
                <th> &nbsp; </th>
              </tr>
            </thead>

            <tbody>
              <% print.forEach(function(Fish_local){ %>
                <tr>
                  <td><%=Fish_local.fishName %></td>
                  <td><%=Fish_local.ave_wght %></td>
                  <td><a class="btn btn-default fish-detail" href="/fish/get/<%-Fish_local.fishName %>" data-fish-name="<%-Fish_local.fishName %>">Detail</a></td>
              <% }) %>
            </tbody>

          </table>
