
          <div class="inner cover">
            <img  class="" src="/images/homepage.jpg" alt="Fish Local" height="350"
            width="675">
            <h3>A perfect tool for die hard and recreational Fishermen</h3>
            <h3>to track and store their fish, bait and locations</h3>
            <h3>all in one easy to use App</h3>
          </div>
