
          <div class="inner cover">
            <h1 class="cover-heading">Fish Local App</h1>
            <img  class="float middle" src="/images/homepage.jpg" alt="Fish Local" height="350"
            width="550">
            <h3>A perfect tool for die hard and recreational Fishermen</h3>
            <h3>to track and store their fish, bait and locations</h3>
            <h3>all in one easy to use App</h3>
          </div>
