
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fish Locale</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/cover.css" rel="stylesheet">
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/knockout/knockout-latest.js"></script>



  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Fish Locale App</h3>
              <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Queries <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Main Tables</li>
                  <li><a href="/fish">Fish</a></li>
                  <li><a href="/locations">Locations</a></li>
                  <li><a href="/baits">Baits</a></li>
                  <li><a href="/fishlog">Fish Log</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Sub Tables</li>
                  <li><a href="/alias">Alias</a></li>
                  <li><a href="/family">Families</a></li>
                  <li><a href="/artificial">Artificial Bait</a></li>
                  <li><a href="/natural">Natural Bait</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modify <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Insert Record</li>
                  <li><a href="/addfish">Add Fish</a></li>
                  <li><a href="/addlocation">Add Location</a></li>
                  <li><a href="/addrecord">Add Records</a></li>
                  <li><a href="/addbait">Add Bait</a></li>
                  <li><a href="/addfishlog">Add Fish Log</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Update Record</li>
                  <li><a href="/updatefish">Update Fish</a></li>
                  <li><a href="/updatelocation">Update Location</a></li>
                  <li><a href="/updatebait">Update Bait</a></li>
                  <li><a href="/updatefishlog">Update Fish Log</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Deletions</li>
                  <li><a href="/deleterecord">Delete Record</a></li>
                  <li><a href="/deletetable">Delete Table</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Links</li>
                  <li><a href="https://huntfish.mdc.mo.gov/fishing" target="_blank">Conservation Department</a></li>
                  <li><a href="https://github.com/Gould25/fish_local" target="_blank">Our GitHub Repo</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
            </div>
          </div>
          <div id="page-content">
            <%- body -%>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright 2016 Fish Locale</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
