

          <div class="inner cover">
            <h1 class="cover-heading">All Locations</h1>
            </p>
          </div>
          <div>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
              </span>
              <input type="text" data-bind="textInput: term" class="form-control" placeholder="Search" />
            </div>
          </div>
          <div id="fish-result">
          </div>
          <div id="bottom-nav">
            <a class="btn btn-default" id="map-btn" href="#">View Map</a>
          </div>
          <div class="modal fade" id="location-modal" tabindex="-1" role="dialog">
           <div class="modal-dialog modal-lg" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4 class="modal-title">Location Map</h4>
               </div>
               <div class="modal-body">
                  <div id="map">
                  </div>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
             </div><!-- /.modal-content -->
           </div><!-- /.modal-dialog -->
         </div><!-- /.modal -->
          <script type="text/javascript">
          jQuery(document).ready(function($) {
            var viewModel = {
              term: ko.observable("")
            };

            viewModel.term.subscribe(function(newValue) {
              $.get('/locations/search', { term: newValue }, function(data) {
                $('#fish-result').html(data);
              });
            });

            ko.applyBindings(viewModel);
            viewModel.term.valueHasMutated();
          });
          </script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  $("#map-btn").click(function(e) {
    e.preventDefault();
    $.get('/locations/all', function(data) {
      var map_options = {
        zoom: 11,
        center: new google.maps.LatLng(37.9643, -91.8318),
      };
      var map = new google.maps.Map(document.getElementById('map'), map_options);

      $(data).each(function(i,e) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(e.lat, e.lng),
          map: map,
        });
        marker.info = new google.maps.InfoWindow({
          content: '<b>' + e.b_o_w + '</b>'
        });

        google.maps.event.addListener(marker, 'click', function() {
          marker.info.open(map, marker);
});
      });
      $(document).on("shown.bs.modal", "#location-modal" , function () {
        google.maps.event.trigger(map, "resize");
      });
      $('#location-modal').modal('show');
    });
  });
});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiCVbvvv9LKQbHukI1ln3RkzkFbyWHPbs">
</script>
